Data/*
__pycache__/
note.md
Intro_to_Deep/
rust/*
1_Collecting_Data/**/*.txt
2_Cleaning/**/*.txt
undefined_Gravity/**/*.txt
undefined_Gravity/logs
5_mcmc/**/*.pdf
5_mcmc/**/*.txt
*.pdf
*.png
*.pkl
*.pth
4_Gravity/logs
4_Gravity/dddm-0
4_Gravity/*.txt
*.jpeg
.ipynb_checkpoints
